/* Style the content */
#contact{
  color: #56c6fd;        
  border-bottom: 2px solid #56c6fd;
}
.beranda-img img{
  width: 350px;
  height: auto;
}
.sec1{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 600px;
  padding: 60px;
}
.sec1-div{
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 20px;
  padding: 30px;
}
.sec1-div h2{
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 20px;
  letter-spacing: 0.2em;
  font-weight: bold;
  text-decoration: underline;
}
.sec1-sosmed{
  display: flex;
  margin-top: 20px;
  justify-content: left;
  align-items: left;
  font-size: 15px;
}
.youtube, .instagram, .twitter, .whatsapp{    
    border: 2px solid #000;
    border-radius: 20px;
    padding-top: 7px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 7px;
    margin: 5px;
}
.youtube:hover, .youtube:active, .whatsapp:hover, .whatsapp:active, .twitter:hover, .twitter:active, .instagram:hover, .instagram:active{ 
    color: #ffffff;
    border-radius: 25px;
    background-color: #f73535;
} 
.sec2{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  padding: 60px;
  background-color: #27b7ff;

} 
.sec2 tr, td{
  font-size: 20px;
  text-align: left;
}
.sec2 .form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sec2 form{
  display: flex;
  justify-content: center;
  width: 100%;
}
.sec2 table{
  width: 60%;
  padding: 10px;
}
.sec2 label{
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}
.sec2 input{
  width: 100%;
  padding: 12px 15px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 15px;
  font-weight: bold;
}
.sec2 textarea{
  width: 100%;
  height: 150px;
  padding: 12px 15px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
  font-size: 15px;
  font-weight: bold;
  word-spacing: normal;
}
#submit{
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}
.sec2 #submit:hover,.sec2 #submit:active{
  background-color: #f73535;
  color: #ffffff;
  border:none;
  border-radius: 25px;
  cursor: pointer;
}
      @media screen and (max-width: 768px){

    }
    
    /* ukuran mobile */
    @media screen and (max-width: 576px){
      .beranda-img img{
        width: 350px;
        height: auto;
      }
      .sec1{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: auto;
        padding: 20px;
      }
      .sec1-div{
        display: flex;
        flex-direction: column;
        text-align: left;
        font-size: 20px;
        padding: 0;
      }
      .sec1-div h2{
        font-size: 30px;
        margin-top: 50px;
        margin-bottom: 20px;
        letter-spacing: 0.2em;
        text-align: center;
        font-weight: bold;
        text-decoration: underline;
      }
      .sec1-sosmed{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        justify-content: left;
        align-items: left;
        font-size: 15px;
      }
      .youtube, .instagram, .twitter, .whatsapp{    
          border: 2px solid #000;
          border-radius: 20px;
          padding-top: 7px;
          padding-right: 20px;
          padding-left: 20px;
          padding-bottom: 7px;
          margin: 5px;
      }
      .youtube:hover, .youtube:active, .whatsapp:hover, .whatsapp:active, .twitter:hover, .twitter:active, .instagram:hover, .instagram:active{ 
          color: #ffffff;
          border-radius: 25px;
          background-color: #f73535;
      } 
      .sec2{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 20px;
        background-color: #27b7ff;
      
      } 
      .sec2 h2{
        font-size: 25px;
      }
      .sec2 tr, td{
        font-size: 18px;
        text-align: left;
      }
      .sec2 .form{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .sec2 form{
        display: block;
        width: 100%;
      }
      .sec2 table{
        width: 100%;
        padding: 10px;
      }
      .sec2 label{
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 10px;
        font-weight: bold;
      }
      .sec2 input{
        width: 100%;
        padding: 12px 15px;
        margin: 8px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 15px;
        font-weight: bold;
      }
      .sec2 textarea{
        width: 100%;
        height: 150px;
        padding: 12px 15px;
        margin: 8px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        resize: none;
        font-size: 15px;
        font-weight: bold;
        word-spacing: normal;
      }
      #submit{
        width: 100%;
        background-color: #000000;
        color: #ffffff;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 25px;
        cursor: pointer;
        font-size: 20px;
        font-weight: bold;
      }
      .sec2 #submit:hover,.sec2 #submit:active{
        background-color: #f73535;
        color: #ffffff;
        border:none;
        border-radius: 25px;
        cursor: pointer;
      } 
}